<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <title>SpringBoot Security</title>
</head>

<body>
<h2> 안녕하세요. 스프링 부트 보안 사이트에 오신 것을 환영합니다 </h2>

<div sec:authorize="isAuthenticated()">
    <!-- principal.username: 현재 로그인한 사용자의 이름(email) -->
    <p>Welcome <span sec:authentication="principal.username">User</span></p>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="LogOut"/>
    </form>
    Authenticated user roles:
    <div sec:authorize="isAuthenticated()">
        <div th:each="authority : ${#authentication.authorities}">
            <span th:text="${authority.getAuthority()}">[Authority]</span>
        </div>
    </div>
</div>
<!-- 비로그인 사용자만 볼 수 있는 영역 (첫 화면으로) -->
<div sec:authorize="isAnonymous()">
    <p><a th:href="@{/login}">로그인 하기</a></p>
    <p><a th:href="@{/signup}">회원가입 하기</a></p>
</div>

</body>
</html>